# data
data/

# notes
app/notes/

.env
.ipynb_checkpoints/

# Container configuration files
.devcontainer/

# Python cache and other temporary files
__pycache__/
*.py[cod]
venv/
.env

# Models and databases
hf_cache/
chroma_db/

vector_engine.py